<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ESP Application Setting</key>
	<dict>
		<key>ESP Allow Prefix Search</key>
		<string>$(ESP_ALLOW_PREFIX_SEARCH)</string>
		<key>ESP Allow QR Code Scan</key>
		<string>$(ESP_ALLOW_QR_CODE_SCAN)</string>
		<key>ESP Device Type</key>
		<string>$(ESP_DEVICE_TYPE)</string>
		<key>ESP Enable Setting</key>
		<string>$(ESP_SETTINGS_ENABLED)</string>
		<key>ESP Securtiy Mode</key>
		<string>$(ESP_SECURITY_MODE)</string>
		<key>ESP Device Username</key>
		<string>$(ESP_DEVICE_USERNAME)</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Connect with BLE Compatible devices for Provisioning</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Connect with BLE Compatible devices for Provisioning</string>
	<key>NSCameraUsageDescription</key>
	<string>Reading QR code</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>App requires access to local network in order to connect to SoftAP devices.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App requires your location permission in order to get current WiFi network ssid</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
